

<div class='email-header'>
  <h1>
    <%=@course.name%>
    <br/>
    <%= link_to @lesson.name, course_lesson_url(@languages.first, @course, @lesson) %>
  </h1>
  <%= image_tag attachments['icon.png'].url, alt: 'Company logo'%>
</div>

<% @languages.each do |l| %>
  <% LocalesService.with(l) do %>
    <% if @lesson.content.present? %>
      <div class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
        <%= @lesson.content.html_safe %>
        <div class='divider'></div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class='unsubscribe-footer'>
  <%=
    link_to(
      'Unsubscribe (pause emails for this pathway)',
      unsubscribe_course_subscription_url(
        course_id: @course.to_param,
        user_id: @user.to_sgid_param(for: :unsubscribe_course)
      )
    )
  %>
</div>

<br />
<br />
