
<h3 class='email-intro'>
  It’s like having an informative friend in your pocket that gives you guidance and help on the days that you need it most.
</h3>

<div class='divider'></div>

<div class='email-header '>
  <div class='header-text'>
    <h2> <%= link_to @course.name, course_url(@languages.first, @course) %> </h2>
    <h3><i><%= link_to @lesson.name, course_lesson_url(@languages.first, @course, @lesson) %></i></h3>
  </div>
  <%= image_tag attachments['icon.png'].url, alt: 'Course logo' %>
</div>

<% @languages.each do |l| %>
  <% LocalesService.with(l) do %>
    <% if @lesson.content.present? %>
      <div class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
        <%== @lesson.content %>
        <div class='divider'></div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class='row'>
  <% if @reaction %>
    <div class='col text-right'>
      <h3 class='my-1 pr-2'>You said this note made you feel <%= @reaction.reaction_name %>.
        <%= sanitize(emojify(":#{@reaction.reaction_name}:", "selected-emoji")) %>
      </h3>
      <div class='row justify-content-end mt-4'>
        <p class='my-auto col-auto'>Change your reaction:</p>
        <div class='col-auto'>
          <% @possible_reactions.select { |r| r != @reaction.reaction_name }.each do |r| %>
            <%= render "reaction", reaction: r %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class='row float-right align-middle'>
      <h3 class='my-1 pr-4'>How does this note make you feel?
        <div class="col">
          <% @possible_reactions.each do |r| %>
            <%= render "lessons/reaction", reaction: r %>
          <% end %>
        </div>
      </h3>
    </div>
  <% end %>
</div>

<div class='unsubscribe-footer'>
  <%=
    link_to(
      'Pause this pathway',
      subscription_unsubscribe_url(
        course_id: @course.to_param,
        user_id: @user.to_sgid_param(for: :unsubscribe_course)
      )
    )
  %>
  |
  <%=
    link_to(
      'Pause all pathways',
      subscription_unsubscribe_url(
        user_id: @user.to_sgid_param(for: :unsubscribe_course)
      )
    )
  %>
  <p>Both of these options will unsubscribe you from emails.</p>
</div>

<br />
<br />
