<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <%= image_tag('soul_medicine_logo.png', class: 'logo d-inline-block align-top', alt: 'Soul Medicine Logo', width: '30', height: '30') %>
        Soul Medicine
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <%= header_nav_item t('site-header.home'), root_path, alternate_path: '/' %>
          <%= header_nav_item t('concepts.course').pluralize.titleize, courses_path %>
        </ul>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLangSelector" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= I18n.locale %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarLangSelector">
            <% I18n.available_locales.each do |l| %>
              <% if I18n.locale == l %>
                <span class="dropdown-item"><%= l %></span>
              <% else %>
                <%= link_to l, params_with_locale(l), class: 'dropdown-item' %>
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
