<div class="white-bg band kick-vertical-5pc">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('.chayn_about.tag_line') %></h2>
    </div>
    <div class="two-column grid slice">
        <div class="column">
            <%= image_tag "homepage_illustration.png", :alt => 'Soul Medicine' %>
        </div>
        <div class="column">
            <!-- Note: Using utility classes to add extra padding etc so you can tweak as you need in the HTML -->
            <div class="testimonial pad-left-15pc pad-vertical-5pc">
                <%= t('.chayn_about.description_html') %>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg band kick-vertical-5pc">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('.soul_medicine_about.tag_line') %></h2>
    </div>
    <div class="two-column grid slice">
        <div class="column">
            <!-- Note: Using utility classes to add extra padding etc so you can tweak as you need in the HTML -->
            <div class="testimonial pad-left-15pc pad-vertical-5pc">
                <%= t('.soul_medicine_about.description_html') %>
            </div>
        </div>
        <div class="column">
            <%= image_tag "homepage_illustration.png", :alt => 'Soul Medicine' %>
        </div>
    </div>
</div>

<div class="white-bg band kick-vertical-5pc">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('.project_history.tag_line') %></h2>
    </div>
    <div class="two-column grid slice">
        <div class="column">
            <%= image_tag "homepage_illustration.png", :alt => 'Soul Medicine' %>
        </div>
        <div class="column">
            <!-- Note: Using utility classes to add extra padding etc so you can tweak as you need in the HTML -->
            <div class="testimonial pad-left-15pc pad-vertical-5pc">
                <%= t('.project_history.description_html') %>
            </div>
        </div>
    </div>
</div>

<div class="grey-bg band kick-vertical-5pc">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('.design_principles.tag_line') %></h2>
    </div>
    <div class="two-column grid slice">
        <div class="column">
            <!-- Note: Using utility classes to add extra padding etc so you can tweak as you need in the HTML -->
            <div class="testimonial pad-left-15pc pad-vertical-5pc">
                <%= t('.design_principles.description_html') %>
            </div>
        </div>
        <div class="column">
            <%= image_tag "homepage_illustration.png", :alt => 'Soul Medicine' %>
        </div>
    </div>
</div>

<div class="band white-bg pad-vertical-5pc">
    <div class="constrained symetrical slice">
        <%= t('.departing_message_html') %>
    </div>
</div>