<h1>
  <%= t('concepts.course').titleize %>:
  <%= tc(@course.name) %>
</h1>

<h2>
  <%= t('concepts.lesson').titleize %>:
  <%= tc(@lesson.name) %>
</h2>

<div>
  <%= tc(@lesson.content.html_safe) %>
</div>
