<%= render "courses/check_available", course: @course do %>
  <%
    title @lesson.name + ' | ' + @course.name
    description @lesson.content
    set_meta_tags image_src: @course.image
  %>

  <nav aria-label="breadcrumb" class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
    <ol class="breadcrumb breadcrumb-notes">
      <li class="breadcrumb-item d-flex align-items-center">
        <%= image_tag @course.image,
            style: 'width: 100px;',
            alt: @course.summary %>
        <%= link_to tc(@course.name),
            course_path(@course),
            class: 'flex-grow-1', lang: LocalesService.current %>
      </li>
    </ol>
  </nav>
  <div class='my-4 p-3'>
    <% if @previous_lesson.present? %>
      <%= link_to sanitize('&lt;&lt; Previous'), course_lesson_path(@course, @previous_lesson), class: 'float-left' %>
    <% end %>
    <% if @next_lesson.present? %>
      <%= link_to sanitize('Next &gt;&gt;'), course_lesson_path(@course, @next_lesson), class: 'float-right' %>
    <% end %>
  </div>
  <section class="lesson-page">
    <div class="card <%= text_direction -%>" dir="<%= text_direction -%>">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
          <li class="nav-item">
            <!-- Current language tab -->
            <a class="nav-link active" id="nav-lesson-content-<%= LocalesService.current -%>" data-toggle="tab" href="#lesson-content-<%= LocalesService.current -%>" role="tab" aria-controls="lesson-content-<%= LocalesService.current -%>" aria-selected="true" lang="<%= LocalesService.current -%>">
              <%= LocalesService.language_name(LocalesService.current) %>
            </a>
          </li>

          <% if @course.enabled_languages.size > 1 %>
            <li class="nav-item nav-link text-primary">┆</li>
          <% end %>

          <!-- Other languages tabs -->
          <% @course.enabled_languages.each do |l| %>
            <% if l != LocalesService.current.to_s %>
              <li class="nav-item">
                <a class="nav-link" id="nav-lesson-content-<%= l -%>" data-toggle="tab" href="#lesson-content-<%= l -%>" role="tab" aria-controls="lesson-content-<%= l -%>" aria-selected="false" lang="<%= l -%>">
                  <%= LocalesService.language_name(l) %>
                </a>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="card-body tab-content" lang="<%= LocalesService.current -%>">
        <!-- Current language content -->
        <div class="tab-pane fade show active <%= text_direction -%> <%= language_class -%>" id="lesson-content-<%= LocalesService.current -%>" dir="<%= text_direction -%>">
          <h2 class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
            <%= tc(@lesson.name) %>
          </h2>
          <div>
            <%== tc(@lesson.content) %>
          </div>
        </div>

        <!-- Other languages content -->
        <% @course.enabled_languages.each do |l| %>
          <% if l != LocalesService.current.to_s %>
            <% LocalesService.with(l) do %>
              <div class="tab-pane fade <%= text_direction -%> <%= language_class -%>" id="lesson-content-<%= l -%>" role="tabpanel" dir="<%= text_direction -%>">
                <h2 class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
                  <%= tc(@lesson.name) %>
                </h2>
                <div>
                  <%== tc(@lesson.content) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer ltr" dir="ltr">
        <% if @reaction && current_user? %>
          <div class='col text-right'>
            <h5 class='my-1 pr-2'>You said this note made you feel <%= @reaction.reaction_name %>.
              <%= sanitize(emojify(":#{@reaction.reaction_name}:", "selected-emoji")) %>
            </h5>
            <div class='row justify-content-end mt-4'>
              <p class='my-auto col-auto'>
                <%= link_to 'Remove',
                  course_lesson_reaction_path(
                    course_id: @course.slug,
                    lesson_id: @lesson.slug,
                    reaction_name: @reaction
                  ),
                  method: :delete %>
                my reaction or update it:
              </p>
              <div>
                <% @possible_reactions.select { |r| r != @reaction.reaction_name }.each do |r| %>
                  <%= render "reaction", reaction: r %>
                <% end %>
              </div>
            </div>
          </div>
        <% elsif current_user? %>
          <div class='row float-right align-middle'>
            <h6 class='my-1 pr-4'>How does this note make you feel?</h6>
            <div class="col">
              <% @possible_reactions.each do |r| %>
                <%= render "reaction", reaction: r %>
              <% end %>
            </div>
          </div>
      <% else %>
        <h6 class='my-2'>To get these notes emailed directly to you
          <%=
            link_to(
              "create an subscription.",
              course_subscription_path(@course),
            )
          %>
        </h6>
        <h6 class='my-2'>Or you can
          <%=
            link_to(
              "sign in",
              auth_sign_in_path(course_id: @course.to_param),
            )
          %>
          to keep track of your reactions to each note and monitor your progress.
        </h6>
        <% end %>
      </div>
    </div>
  </section>
  <div class='my-4 p-3'>
    <% if @previous_lesson.present? %>
      <%= link_to sanitize('&lt;&lt; Previous'), course_lesson_path(@course, @previous_lesson), class: 'float-left' %>
    <% end %>
    <% if @next_lesson.present? %>
      <%= link_to sanitize('Next &gt;&gt;'), course_lesson_path(@course, @next_lesson), class: 'float-right' %>
    <% end %>
  </div>
<% end %>
