<%= render "courses/check_available", course: @course do %>
  <%
    title @current_lesson.name + ' | ' + @course.name
    description @current_lesson.content
  %>

  <nav aria-label="breadcrumb" class="mb-4 <%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%=
                image_tag @course.image,
                  style: 'width: 100px;',
                  alt: @course.summary
              %>
              <%= link_to tc(@course.name), course_path(@course) %>
            </li>
            <li class="breadcrumb-item my-auto">
              <% if @previous_lesson.present? %>
                <%= link_to 'Back', course_lesson_path(@course, @previous_lesson) %>
              <% end %>
              <% if @previous_lesson.present? && @next_lesson.present?  %>
                &nbsp; | &nbsp;
              <% end %>
              <% if @next_lesson.present? %>
                <%= link_to 'Next', course_lesson_path(@course,@next_lesson) %>
              <% end %>
            </li>
        </ol>
    </nav>

  <section class="lesson-page">
    <div class="card <%= text_direction -%>" dir="<%= text_direction -%>">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
          <li class="nav-item">
            <!-- Current language tab -->
            <a class="nav-link active" id="nav-lesson-content-<%= LocalesService.current -%>" data-toggle="tab" href="#lesson-content-<%= LocalesService.current -%>" role="tab" aria-controls="lesson-content-<%= LocalesService.current -%>" aria-selected="true">
              <%= LocalesService.language_name(LocalesService.current) %>
            </a>
          </li>

          <% if @course.enabled_languages.size > 1 %>
            <li class="nav-item nav-link text-primary">┆</li>
          <% end %>

          <!-- Other languages tabs -->
          <% @course.enabled_languages.each do |l| %>
            <% if l != LocalesService.current.to_s %>
              <li class="nav-item">
                <a class="nav-link" id="nav-lesson-content-<%= l -%>" data-toggle="tab" href="#lesson-content-<%= l -%>" role="tab" aria-controls="lesson-content-<%= l -%>" aria-selected="false">
                  <%= LocalesService.language_name(l) %>
                </a>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="card-body tab-content">
        <!-- Current language content -->
        <div class="tab-pane fade show active <%= text_direction -%> <%= language_class -%>" id="lesson-content-<%= LocalesService.current -%>" dir="<%= text_direction -%>">
          <h2 class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
            <%= tc(@current_lesson.name) %>
          </h2>
          <div>
            <%= tc(@current_lesson.content.html_safe) %>
          </div>
        </div>

        <!-- Other languages content -->
        <% @course.enabled_languages.each do |l| %>
          <% if l != LocalesService.current.to_s %>
            <% LocalesService.with(l) do %>
              <div class="tab-pane fade <%= text_direction -%> <%= language_class -%>" id="lesson-content-<%= l -%>" role="tabpanel" aria-labelledby="nav-home-tab" dir="<%= text_direction -%>">
                <h2 class="<%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
                  <%= tc(@current_lesson.name) %>
                </h2>
                <div>
                  <%= tc(@current_lesson.content.html_safe) %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
