<div class="card shadow-sm mb-3 course-card <%= text_direction -%>" dir="<%= text_direction -%>">
  <% if course.tags.present? %>
    <div class="card-header text-center font-weight-bold">
      <%= course.tags.join ', ' %>
    </div>
  <% end %>

  <%= link_to image_tag(course.image, class: 'card-img-top', alt: course.summary), course_path(course) %>

  <div class="card-body">
    <h5 class="card-title <%= language_class -%>">
      <%= link_to tc(course.name), course_path(course) %>
    </h5>
    <h6 class="card-subtitle">
      <% course.enabled_languages.each do |l| %>
        <%= link_to LocalesService.language_name(l), course_path(course, locale: l), class: 'badge badge-primary mb-2' %>
      <% end %>
    </h6>
    <div class="card-text <%= language_class -%>">
      <%= tc(course.summary) %>
    </div>
  </div>
  <div class="card-footer">
    <% if current_user? && current_user_subscription %>
      <%= link_to course_subscription_path(course), class: 'float-right font-weight-bold text-success' do %>
        <%= current_user_subscription.active? ? 'Active' : 'Paused' %>
        subscription
      <% end %>
    <% end %>

    <%=
      render 'votes',
        course: course,
        total: vote_count,
        redirect_url: courses_url
    %>
  </div>
</div>
