
<div class="white-bg band kick-vertical-5pc">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('.welcome') %></h2>
    </div>
    <div class="two-column grid slice">
        <div class="column">
            <%= image_tag "homepage_illustration.png", :alt => 'Soul Medicine' %>
        </div>
        <div class="column">
            <!-- Note: Using utility classes to add extra padding etc so you can tweak as you need in the HTML -->
            <div class="testimonial pad-left-15pc pad-vertical-5pc">
                <%= t('.main_message_html', count: @course.count) %>
            </div>
        </div>
    </div>
</div>

<div class="band">
    <div class="slice">
        <h2 class="pad-top-2pc"><%= t('pages.landing.available_courses.tag_line') %></h2>
    </div>
    <div class="three-column grid slice">
        <% @course.order(:sequential_id).each do |c| %>
            <div class="column">
                <%= link_to c, :class => "symetrical tall panel" do %>
                    <%= image_tag "asylum_process.png", :class => 'panel-image', :alt => 'Self confidence' %>
                    <h3><%= c.name %></h3>
                    <p><%= c.description %></p>
                <% end %>
            </div>
        <% end %>
    </div>
</div>