<%
 title t('concepts.course').pluralize.titleize
%>

<section class="courses-page">
  <%= render partial: 'languages_selector' %>

  <% if @courses.blank? %>
    <div class="alert alert-warning" role="alert">
      <%= t('.no_courses') %>
    </div>
  <% end %>

  <div class="card-columns">
    <% @courses.each do |c| %>
      <%= render partial: 'card', locals: { course: c } %>
    <% end %>
  </div>

  <% if @other_courses.present? %>

    <hr />

    <h4><%= t('.other') %></h4>

    <div class="card-columns">
      <% @other_courses.each do |c| %>
        <% lang = c.enabled_languages.first %>
        <% LocalesService.with(lang) do %>
          <%= render partial: 'card', locals: { course: c } %>
        <% end %>
      <% end %>
    </div>

  <% end %>
</section>
