<%= render "courses/check_available", course: @course do %>
  <%
   title @course.name
  %>

  <section class="course-page container">
    <div class="row justify-content-around">

      <div class="col-md-9 order-2 <%= text_direction %>" dir="<%= text_direction %>">
        <h2>
          <%= tc(@course.name) %>
        </h2>

        <div class="mb-5">
          <% if @subscription.present? %>
            <div class="alert alert-info" role="alert">
              <% if @subscription.active? %>
                <%= t('courses.show.active_subscription') %>
              <% else %>
                <%= t('courses.show.paused_subscription') %>
              <% end %>

              <%=
                link_to t('phrases.edit').capitalize,
                  course_subscription_path(@course),
                  class: 'ml-3'
              %>
            </div>
          <% else %>
            <%=
              link_to(
                t('courses.show.subscribe'),
                course_subscription_path(@course),
                class: 'btn btn-primary btn-lg shadow rounded-pill',
                role: 'button'
              )
            %>
          <% end %>
        </div>

        <div class="course-description">
          <%= tc(@course.description.html_safe) %>
        </div>

        <hr />

        <div>
          <h3><%= t('concepts.lesson').pluralize.titleize %></h3>

          <ul class="list-group <%= text_direction %>">
            <% @course.lessons.each do |l| %>
              <li class="list-group-item">
                <%= link_to tc(l.name), course_lesson_path(@course, l) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-2 order-1 <%= text_direction %>" dir="<%= text_direction %>">
        <div class="container">
          <div class="row">
            <div class="col col-md-12">
              <div class="mb-5">
                <%= image_tag(asset_pack_path('media/images/course_icon.svg'), class: 'align-top align-left', style: 'width: 120px;') %>
              </div>
            </div>
            <div class="col col-md-12">
              <div class="mb-5">
                <p class="font-weight-bold text-uppercase">
                  <%= t('concepts.language').pluralize.titleize %>
                </p>
                <ul class="list-unstyled <%= text_direction %>">
                  <% @course.enabled_languages.each do |l| %>
                    <li>
                      <%= link_to LocalesService.language_name(l), course_path(@course, locale: l), class: 'badge badge-primary' %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
<% end %>
