<%= render "courses/check_available", course: @course do %>
  <%
    title @course.name
    description @course.description
    set_meta_tags image_src: @course.image
  %>

  <section class="course-page container">
    <div class="row justify-content-around">

      <div class="col-md-9 order-2 <%= text_direction -%>" dir="<%= text_direction -%>">
        <h2 class="<%= language_class -%>" lang="<%= LocalesService.current %>">
          <%= tc(@course.name) %>
        </h2>

        <div class="lead mb-3 <%= language_class -%>" lang="<%= LocalesService.current %>">
          <%= @course.summary %>
        </div>

        <div class="mb-3">
          <% if @subscription.present? %>
            <div class="alert alert-info" role="alert">
              <% if @subscription.active? %>
                <%= t('courses.show.active_subscription') %>
              <% else %>
                <%= t('courses.show.paused_subscription') %>
              <% end %>

              <%=
                link_to t('phrases.edit').capitalize,
                  course_subscription_path(@course),
                  class: 'ml-3'
              %>
            </div>
          <% else %>
            <%=
              link_to(
                t('courses.show.subscribe'),
                course_subscription_path(@course),
                class: 'btn btn-primary btn-lg shadow rounded-pill',
                role: 'button'
              )
            %>
          <% end %>
        </div>

        <div class="course-description <%= language_class -%>" lang="<%= LocalesService.current %>">
          <%= sanitize(tc(@course.description)) %>
        </div>

        <hr />

        <div>
          <h3><%= t('concepts.lesson').pluralize.titleize %></h3>

          <ul class="list-group <%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>" lang="<%= LocalesService.current %>">
            <% @course.lessons.each do |l| %>
              <li class="list-group-item">
                <%= link_to tc(l.name), course_lesson_path(@course, l), lang: LocalesService.current %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-md-3 order-1 <%= text_direction -%>" dir="<%= text_direction -%>">
        <div class="container">
          <div class="row">
            <div class="col col-md-12">
              <div class="mb-4">
                <%=
                  image_tag @course.image,
                    class: 'img-fluid w-100',
                    alt: @course.summary
                %>
              </div>
            </div>
            <div class="col col-md-12">
              <div class="mb-4">
                <p class="font-weight-bold text-uppercase mb-2">
                  <%= t('concepts.language').pluralize.titleize %>
                </p>
                <ul class="list-unstyled <%= text_direction -%>" dir="<%= text_direction -%>">
                  <% @course.enabled_languages.each do |l| %>
                    <li class="language-selector">
                      <%= link_to LocalesService.language_name(l), course_path(@course, locale: l), class: 'badge badge-primary', lang: l %>
                    </li>
                  <% end %>
                </ul>
              </div>
              <% if @course.tags.present? %>
                <div class="mb-4">
                  <p class="font-weight-bold text-uppercase mb-2">
                    <%= t('concepts.tag').pluralize.titleize %>
                  </p>
                  <% if @course.tags.present? %>
                    <ul class="list-unstyled">
                      <% @course.tags.each do |tag| %>
                        <li>
                          <%= tag %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </div>
              <% end %>
              <div class="mb-4">
                <p class="font-weight-bold text-uppercase mb-2">
                  <%= t('concepts.lesson').pluralize.titleize %>
                </p>
                <p>
                  <%= @course.lessons.size %>
                </p>
              </div>
              <div class="mb-4">
                <p class="font-weight-bold text-uppercase mb-2">
                  <%= 'like'.pluralize.titleize %>
                </p>
                <p>
                  <%= render 'votes', course: @course, total: @vote_total %>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
<% end %>
