<%= render "courses/check_available", course: @course do %>
  <%
    title @course.name
    description @course.description
    set_meta_tags image_src: @course.image
  %>

  <div class="row mx-5">
    <nav class="col-sm-8" aria-label="breadcrumb">
      <ol class="breadcrumb my-auto">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= courses_path -%>">Pathways</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= tc(@course.name) %></li>
      </ol>
    </nav>
    <div class="col-sm-4 my-auto text-right dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= LocalesService.language_name(params[:locale]) %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @course.enabled_languages.each do |l| %>
            <%= link_to LocalesService.language_name(l),
              course_path(@course, locale: l),
              class: "#{'active' if l == params[:locale]} dropdown-item " %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col my-5">
    <h2 class="text-center <%= language_class -%>">
      <%= tc(@course.name) %>
    </h2>
    <p class="lead mx-auto text-center <%= language_class -%>">
      <%= @course.summary %>
    </p>
  </div>

  <div class="row bg-success">
    <div class="col-sm-4 my-auto">
      <%=
        image_tag @course.image,
          class: 'img-fluid w-100',
          alt: @course.summary
      %>
    </div>
    <div class="col-sm-8 p-5 course-description <%= language_class -%>">
      <%= sanitize(tc(@course.description)) %>
    </div>
  </div>

  <div class="row my-4 mx-auto w-75">
      <h4 class="mx-auto text-center">Our bite-sized information is put together in
        digestible steps called notes. Follow these below.</h4>
      <% if @subscription.present? %>
        <h5 class="mx-auto text-center">You already have a subscription for this pathway.
          Make it work for you by
          <%=
            link_to(
              "editing your subscription.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% elsif current_user? %>
        <h5 class="mx-auto text-center">To get the notes for this pathway emailed directly to you
          <%=
            link_to(
              "sign up for a subscription.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% else %>
        <h5 class="mx-auto text-center">To track your progress or to get bite-sized
          content emailed directly to you
          <%=
            link_to(
              "create an account",
              course_subscription_path(@course),
            )
          %>
          or
          <%=
            link_to(
              "sign in.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% end %>
  </div>

  <div class='row w-75 mx-auto'>
    <div class="col-sm-3">
      <% if @course.tags.present? %>
        <div>
          <p class="font-weight-bold text-uppercase mb-2">
            <%= t('concepts.tag').pluralize.titleize %>
          </p>
          <% if @course.tags.present? %>
            <ul class="list-unstyled">
              <% @course.tags.each do |tag| %>
                <li>
                  <%= tag %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div>
        <p class="font-weight-bold text-uppercase mb-2">
          <%= t('concepts.lesson').pluralize.titleize %>
        </p>
        <p>
          <%= @course.lessons.size %>
        </p>
      </div>
      <div>
        <p class="font-weight-bold text-uppercase mb-2">
          <%= 'like'.pluralize.titleize %>
        </p>
        <p>
          <%= render 'votes', course: @course, total: @vote_total %>
        </p>
      </div>
    </div>
    <div class='col-sm-9'>
      <h3><%= t('concepts.lesson').pluralize.titleize %></h3>

      <ul class="list-group <%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
        <% @course.lessons.each do |l| %>
          <li class="list-group-item">
            <div class='row'>
              <%= link_to tc(l.name), course_lesson_path(@course, l), class: 'col-10' %>
              <div class='col-2'>
                <div class='row float-right'>
                  <span class='col-4'>
                    <% if @progress.include?(l.slug) %>
                      <span class='col-4' data-toggle="tooltip" data-placement="top" title="You've visited this note online.">
                        <%= emojify(':eyes:') %>
                      </span>
                    <% end %>
                  <span class='col-4'>
                    <% if @subscription.lessons_delivered.include?(l.slug) %>
                      <span data-toggle="tooltip" data-placement="top" title="You've recieved this note as an email.">
                        <%= emojify(':love_letter:') %>
                      </span>
                    <% end %>
                  </span>
                  <span class='col-4'>
                    <% if @reactions[l.slug] %>
                      <span data-toggle="tooltip" data-placement="top" title="You said this note made you feel <%= @reactions[l.slug] %>.">
                        <%= emojify(":#{@reactions[l.slug]}:") %>
                      </span>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% end %>
