<%= render "courses/check_available", course: @course do %>
  <%
    title @course.name
    description @course.description
    set_meta_tags image_src: @course.image
  %>

  <div class="row mx-5">
    <nav class="col-8 px-0 d-sm-none" aria-label="breadcrumb">
      <ol class="breadcrumb my-auto px-0">
        <li class="breadcrumb-item"><a href="<%= courses_path -%>">&lt;&lt; Pathways</a></li>
      </ol>
    </nav>
    <nav class="col-8 d-sm-inline d-none" aria-label="breadcrumb">
      <ol class="breadcrumb my-auto px-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= courses_path -%>">Pathways</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= tc(@course.name) %></li>
      </ol>
    </nav>
    <div class="col-4 px-0 my-auto text-right">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= LocalesService.language_name(params[:locale]) %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @course.enabled_languages.each do |l| %>
            <%= link_to LocalesService.language_name(l),
              course_path(@course, locale: l),
              class: "#{'active' if l == params[:locale]} dropdown-item " %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col my-5">
    <h2 class="text-center <%= language_class -%>">
      <%= tc(@course.name) %>
    </h2>
    <p class="lead mx-auto text-center <%= language_class -%>">
      <%= @course.summary %>
    </p>
  </div>

  <div class="row bg-success">
    <div class="col-sm-4 my-auto">
      <%=
        image_tag @course.image,
          class: 'img-fluid w-100',
          alt: @course.summary
      %>
    </div>
    <div class="col-sm-8 p-5 course-description <%= text_direction -%> <%= language_class -%>" lang="<%= LocalesService.current %>">
      <%= sanitize(tc(@course.description)) %>
    </div>
  </div>

  <div class="row my-4 mx-auto w-75">
      <h4 class="mx-auto text-center">Our bite-sized information is put together in
        digestible steps called notes. Follow these below.</h4>
      <% if @subscription.present? %>
        <h5 class="mx-auto text-center">You already have a subscription for this pathway.
          Make it work for you by
          <%=
            link_to(
              "editing your subscription.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% elsif current_user? %>
        <h5 class="mx-auto text-center">To get the notes for this pathway emailed directly to you
          <%=
            link_to(
              "sign up for a subscription.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% else %>
        <h5 class="mx-auto text-center">To track your progress or to get bite-sized
          content emailed directly to you
          <%=
            link_to(
              "create an account",
              course_subscription_path(@course),
            )
          %>
          or
          <%=
            link_to(
              "sign in.",
              course_subscription_path(@course),
            )
          %>
        </h5>
      <% end %>
  </div>

  <div class='row w-75 mx-auto'>
    <div class="col-sm-3">
      <% if @course.tags.present? %>
        <div class="row">
          <div class="col-sm-12 col-3">
            <p class="font-weight-bold text-uppercase mb-2">
              <%= t('concepts.tag').pluralize.titleize %>
            </p>
          </div>
          <div class="col-sm-12 col-9">
            <% if @course.tags.present? %>
              <ul class="list-unstyled">
                <% @course.tags.each do |tag| %>
                  <li>
                    <%= tag %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-3">
          <p class="font-weight-bold text-uppercase mb-2">
            <%= t('concepts.lesson').pluralize.titleize %>
          </p>
        </div>
        <div class="col-sm-12 col-9">
          <p>
            <%= @course.lessons.size %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-3">
          <p class="font-weight-bold text-uppercase mb-2">
            <%= 'like'.pluralize.titleize %>
          </p>
        </div>
        <div class="col-sm-12 col-9">
          <p>
            <%= render 'votes', course: @course, total: @vote_total %>
          </p>
        </div>
      </div>
    </div>
    <div class='col-sm-9'>
      <h3><%= t('concepts.lesson').pluralize.titleize %></h3>
      <div class="card-deck <%= text_direction -%> <%= language_class -%>" lang="<%= LocalesService.current %>">
        <% @course.lessons.each_with_index do |l, index| %>
          <div class="card m-3">
            <div class="card-body">
              <h3><%= link_to tc(l.name), course_lesson_path(@course, l), class: 'card-title' %></h3>
              <%== Truncato.truncate(tc(l.content), max_length: 100) %>
              <% if current_user? %>
                <div>
                  <% if @progress.include?(l.slug) %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%== emojify(':eyes:') %>
                      </div>
                      <div class="col-10 pl-1">
                        <p class="mb-0 subparagraph">You've visited this note online.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div>
                  <% if @subscription.present? && @subscription.lessons_delivered.include?(l.slug) %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%== emojify(':love_letter:') %>
                      </div>
                      <div class="col-10 pl-1">
                        <p class="mb-0 subparagraph">You've recieved this note as an email.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div>
                  <% if @reactions[l.slug] %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%= sanitize(emojify(":#{@reactions[l.slug]}:")) %>
                      </div>
                      <div class="col-10 pl-1">
                        <p class="mb-0 subparagraph">You said this note made you feel <%= @reactions[l.slug] %>.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <% if index%2 != 0 %>
            <div class="w-100"><!-- wrap every 2 on sm--></div>
          <% end %>
        <% end %>
      </div>
      <ul class="list-group <%= text_direction -%> <%= language_class -%>" dir="<%= text_direction -%>">
        <% @course.lessons.each do |l| %>
          <li class="list-group-item">
            <div class='row'>
              <%= link_to tc(l.name), course_lesson_path(@course, l), class: 'col-sm-9' %>
              <% if current_user? %>
                <div class='col-sm-1'>
                  <% if @progress.include?(l.slug) %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%== emojify(':eyes:') %>
                      </div>
                      <div class="col-10 pl-1 d-sm-none">
                        <p class="mb-0 subparagraph">You've visited this note online.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class='col-sm-1'>
                  <% if @subscription.present? && @subscription.lessons_delivered.include?(l.slug) %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%== emojify(':love_letter:') %>
                      </div>
                      <div class="col-10 pl-1 d-sm-none">
                        <p class="mb-0 subparagraph">You've recieved this note as an email.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class='col-sm-1'>
                  <% if @reactions[l.slug] %>
                    <div class="row">
                      <div class="col-2 pr-1">
                        <%= sanitize(emojify(":#{@reactions[l.slug]}:")) %>
                      </div>
                      <div class="col-10 pl-1 d-sm-none">
                        <p class="mb-0 subparagraph">You said this note made you feel <%= @reactions[l.slug] %>.</p>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>
