<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light pt-0 pb-0 pr-3 pl-3">
    <a class="navbar-brand" href="/">
      <%= image_tag(asset_pack_path('media/images/logo.png'), class: 'logo d-inline-block align-top', alt: 'Soul Medicine Logo') %>
    </a>
    <h1 class='sr-only'>Soul Medicine</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-2 pb-2" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right ml-auto">
        <%= header_nav_item t('site-header.home'), root_path, alternate_path: '/' %>
        <%= header_nav_item t('concepts.course').pluralize, courses_path %>
        <%= header_nav_item t('site-header.about-us'), page_path('about-us') %>

        <%= header_nav_separator %>

        <% if current_user? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarUserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.display_name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right <%= text_direction -%>" dir="<%= text_direction -%>" aria-labelledby="navbarUserDropdown">
              <%= link_to t('site-header.subscriptions'), subscriptions_path, class: 'dropdown-item' %>
              <%= link_to t('site-header.profile'), profile_path, class: 'dropdown-item' %>
              <%= link_to t('site-header.sign-out'), auth_sign_out_path, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <%= header_nav_item t('site-header.sign-in'), auth_sign_in_path, icon_name: 'sign-in-alt' %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
