<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <%= image_tag(asset_pack_path('images/logo.png'), class: 'logo d-inline-block align-top', alt: 'Soul Medicine Logo') %>
      Soul Medicine
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <%= header_nav_item t('site-header.home'), root_path, alternate_path: '/' %>
        <%= header_nav_item t('concepts.course').pluralize.titleize, courses_path %>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <%= header_nav_item t('site-header.sign-out'), auth_sign_out_path %>
        <% else %>
          <%= header_nav_item t('site-header.sign-in'), auth_sign_in_path %>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLangSelector" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= LocalesService.language_name(LocalesService.current) %>
          </a>
          <div class="dropdown-menu dropdown-menu-right <%= text_direction %>" dir="<%= text_direction %>" aria-labelledby="navbarLangSelector">
            <% LocalesService.enabled.each do |l| %>
              <% if LocalesService.current == l %>
                <span class="dropdown-item">
                  <%= LocalesService.language_name(l) %>
                </span>
              <% else %>
                <%= link_to LocalesService.language_name(l), params_with_locale(l), class: 'dropdown-item' %>
              <% end %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
