<!DOCTYPE html>
<html>
  <%= render 'head' %>
  
  <body style="<%= body_style -%>">
    <%= render 'cookie_law'%>
    <%= render 'header' %>

    <%= render 'announcement_banner' %>

    <%= tag.main role: 'main', class: main_container_class do %>
      <%= render 'flash' %>

      <%= yield %>
    <% end %>

    <%= render 'footer' %>
  </body>
</html>
