<!DOCTYPE html>
<html>
  <%= render 'head' %>

  <body>
    <%= render 'cookie_law' %>
    <%= render 'header' %>

    <%= render 'announcement_banner' %>

    <%= tag.main role: 'main', class: main_container_class, style: main_style do %>
      <%= render 'flash' %>

      <%= yield %>
    <% end %>

    <%= render 'footer' %>
    <%= render 'leave_site' %>
  </body>
</html>
